body {
  background-color: black;
}
.hello-world {
  display: inline;
  color: darkkhaki;
  font-size: 24px;
}
.bye-world {
  display: block;
  color:lightgray;
}
.block-world {
  display:inline-block;
  color:lightblue;
}
.apple {
  outline: auto;
  outline-color: orange;
}
.outline {
  outline:solid;
  outline-color:aqua
}
